
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
        <link rel="stylesheet" href="{% static "blog/css/detail.css" %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark-reasonable.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
</head>
<body>

    <section>
        <header style="background-image: url('{{ post.image.url }}')">
                <div class="tags">
                        <span class="tag">Name</span>
   
                </div>
        </header>
    </section>
    <section class="text-section">
        <div class="text">
        </div>
    </section>
    <section class="comment-section">

        <form class="comment-form-wrapper" method="post">
            <h3 class="comment-header">Add comment</h3>
            <div class="comment-form">
            </div>

            <button class="button-simple" type="submit">Submit</button>
        </form>
            <div class="comments-wrapper">
                    <div class="comment">
                        <div class="comment-date">Date{{ comment.created_on.date }}
                                <a href="{{ comment.get_delete_url }}">
                                    <button class="button-delete" type="submit">
                                        <div>x</div>
                                    </button>
                                </a>
                        </div>
                        <p class="comment-text">
                            {{ comment.text }}
                        </p>
                    </div>
                    <hr>
            </div>

            <div class="comments-wrapper mb-5">
                <hr>
                <h3>Not accepted</h3>
                    <div class="comment">
                        <div class="comment-date">
                            {{ comment.created_on.date }}

                        </div>
                        <p>{{ comment.text }}</p>
                        <div class="comment-admin">
                            id: {{ comment.id }}
                            <a href="{{ comment.get_activate_url }}">
                                <button class="button-simple ml-3" type="submit">Activate</button>
                            </a>
                            <a href="{{ comment.get_delete_url }}">
                                <button class="button-simple ml-3" type="submit">Delete</button>
                            </a>
                        </div>

                    </div>
            </div>


    </section>




    <script>
        hljs.initHighlightingOnLoad();
                Swal.fire({
                    title: '{{mess.tags|capfirst}}',
                    text: '{{ mess|safe }}',
                    icon: '{{mess.tags}}',
                    showConfirmButton: false,
                    timer: 3000
                });
    </script>

</body>
</html>