
<head>
    <meta charset="UTF-8">
    <title>Create new post</title>
        <link rel="stylesheet" href="{% static "blog/css/post_form.css" %}" type="text/css">
</head>
<body>
    <div style="width: 100vw; height: 100vh">

        <div class="form-wrapper" style="">
            <form class="form " enctype="multipart/form-data" method="post">

        
                <button class="btn btn-success" type="submit" value="Save">Save</button>


            </form>
        </div>
    </div>


</body>
</html>